<nav id="navbar" class="navbar">
    <button class="menu-btn" id="openMenu"><span class="table-span"><span id="letter"></span></span></button>
</nav>

<header class="main-header">
    <div class="wrapper">
        <div class="grid-container grid-720">
            <div class="inner-header">
                <span class="table-span">
                    <span>
                        <h1 itemprop="name">inż. Jacek "Siuhajek" Kowalski</h1>
                        <h2 itemprop="description">Rzeczoznawca budowlany</h2>
                    </span>
                </span>
            </div>
        </div>
    </div>
</header>
