<aside id="sidebar" class="sidebar">
    <ul>
        <li class="side-header"><b>Kategorie</b></li>
        <li><a href="/">Ekspert</a></li>
        <li><a href="/zyciorys.html">Życiorys</a></li>
        <li><a href="/historia.html">Historia</a></li>
        <li><a href="/galeria.html">Galeria</a></li>
        <li><a href="http://tatraskilobby.tumblr.com/" target="_blank"><b><font color="#00ff00">TATRA</font><font color="#ffffff">SKI</font><font color="#f1c232">LOBBY</font></b></a></li>
        <li><a href="/polecam.html">Polecam</a></li>
        <li><a href="/kontakt.html">Kontakt</a></li>
    </ul>
</aside>